<p id="notice"><%= notice %></p>

<h1>User Information</h1>

<p>
  <strong>Name:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>Pennkey:</strong>
  <%= @user.pennkey %>
</p>

<p>
  <strong>Status:</strong>
  <%if @user.is_instructor%>
    <%= "Instructor"%>
  <%else%>
    <%= "Student"%>
  <%end%>
</p>

<%if logged_in?%>
<%= link_to 'Back', users_path, class: "btn btn-primary"%>
<%if @user == current_user%>
  <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-primary"%>
<%end%>
<%end%>

<%if @user.is_instructor%>
    <h1>Courses Teaching</h1>
<%else%>
    <h1>Courses Taking</h1>
<%end%>

<%Course.all.each do |course| %>
<%if course.users.include?(@user)%>

   <div class="row">
    <div class="card-body">  
      <h4 class="card-title"><%=course.full_code%></h4>
          <h4 class="card-sub-title"><%=course.instructor.full_name%></h4>
          <p class="card-text"><%=truncate(course.description, :length => 200)%></p>
          <%=link_to 'Show', course, class: "btn btn-primary"%>

          <%if @user == current_user && current_user == course.instructor%> 
              <%= link_to 'Edit', edit_course_path(course), class: "btn btn-primary" %> 
          <%end%>
          <%if @user == current_user && course.students.include?(current_user)%>
             <%= link_to 'Drop', drop_course_path(current_user, course), method: :delete, class:"btn btn-primary"%> 
          <%end%>
      <div>
      <div>
  <%end%>
<%end%>
