<%= form_with(model: course, local: true) do |form| %>
  <% if course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-10 col-md-offset-8">

    <div class = "selectpicker" data-width="auto" >
        <%= form.label :department_id %>
        <%= form.collection_select :department_id, Department.all, :id, :name, class: 'form-control' %>
    <div>

    <%= form.label :code %>
    <%= form.number_field :code, class: 'form-control' %>

    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>

    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control' %>

    <div class="col-xs-3 btn-block">
      <%= form.submit "Submit", class: "btn btn-primary" %>
    <div>
   <%end%>
  </div>
</div>
