<p id="notice"><%= notice %></p>

<p>
  <strong>Department:</strong>
  <%= @course.department.code %>
</p>

<p>
  <strong>Code:</strong>
  <%= @course.code %>
</p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @course.description %>
</p>

<%if current_user == @course.instructor%>
    <%= link_to 'Edit', edit_course_path(@course), class: "btn btn-primary" %> 
<%end%>
<%= link_to 'Back', courses_path, class: "btn btn-primary" %>
